/* GENERAL */

* {
    font-family: "Montserrat", sans-serif;
  }

body, html {
    height: 100%;
}

body{
    min-height: 100%;
    margin: 0;
    padding: 0;
}

/* HEADER */  
header {
    display: flex;
    flex-wrap: wrap;
    background-color: #f3e7f1;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
    max-width: 100%;
}


header nav {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    margin-right: 150px;
}

.navigation {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    align-content: center;
}


header ul li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 40%;
}

header img {
    position: relative;
    top: 10px;
    left: 15px;
    margin-bottom: 20px;
}

.navigation li {
    color:black;
    list-style: none;
    padding: 10px 30px;
}

.navigation li a {
    color:black;
    font-size: 18px;
    text-decoration: none;
    padding-top: 18px;
    margin-right: 20px;
    font-weight: bold;
}

.navigation li a:hover {
    color: #8f63e9;
}

/* CONTENU INDEX */


#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.thumbnail {
    display: inline-block;
    width: 100%;
    max-height: 50%;
    flex-wrap: wrap;
    border-top-left-radius:7px;
    border-top-right-radius:7px;
}

.card {
    min-width: 25%;
    width:30%;
    box-shadow: 0 0 10px #777;
    border-radius:7px;
    margin:20px;
}

h1 {
    font-size: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;}

.description {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

.bouton {
    text-decoration: none;
    display: flex;
    width: 25%;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 50px;
    background: linear-gradient(150deg, #8779ff, #9356DC);
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
    margin: 20px 0 20px 35%;

}

/* FOOTER */

footer {
    background-color: #f3e7f1;
    position: sticky; 
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.copyright {
    width: 100%;
    height: 50px;
    font-size: 20px;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* FICHE PRODUIT */

#containerproduct {
    display: flex;
    margin-top:15px;
    height: 80%;
}

#containerproduct h1 {
    font-size: 25px;
}

.picture {
    max-height: 80%;
    max-width: 40%;
    margin: 20px 20px 20px 5%;
    border-radius: 20px;
}

.prix {
    font-weight: bold;
    font-size: 25px;
}

#containerproduct div {
    width: 40%;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top:5%;
}

#containerproduct select {
    font-size: 20px;
    padding: 5px;
}

#containerproduct button {
    font-size: 15px;
    padding : 5px;
}

.addbutton {
    text-decoration: none;
    display: flex;
    width: 25%;
    height: 50px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    color: white;
    padding: 20px;
    margin: 5% 0 0 38%;
    border-radius: 50px;
    background: linear-gradient(150deg, #8779ff, #9356DC);
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
}

/* Page panier */

.panierglobal {
    display: flex;
    margin-top: 80px;
    width: 100%;
}

.panierglobal #containerpanier {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.panierglobal #containerpanier h2 {
    margin-left: 20px;
}

.panierglobal .table {
    width: 100%;
    margin-left: 30px;
}

.panierglobal thead {
    font-size: 15px;
    background-color : #f3e7f1;
}

.panierglobal .montant {
    font-size: 20px;
    margin-left: 30px;
}

.panierglobal .containerproduct button {
    margin-left: 40%;
}

.panierglobal .panier-vide {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.panierglobal #productlist {
    border: none;
}

.panierglobal th {
    padding: 10px;
    font-size: 16px;
}

.panierglobal #formulaire {
    margin-left: 3%;
    width: 60%;
}

.montant {
    display: flex;
    flex-direction: row;
}

.subtotal {
    margin : 0 10px 0 10px;
}

#formulaire div {
    display: flex;
    margin : 25px 25px 25px 0;
    font-size: 20px;
}

#formulaire h2 {
    margin-top : 20px;
}

#validbutton {
    margin:25px 0 15px 40%;
    padding: 10px;
}

#formulaire label {
    display: flex;
    flex-direction: row;
    width: 25%;
    margin-top: 2px;
}

#formulaire__nom {
    padding-top: 18px;
}

input {
    font-size: 15px;
    padding: 5px;
}

#missNom , #missPrenom , #missEmail , #missVille , #missAddress {
    font-size: 12px;
    padding-left: 5px;
}

.fa-check {
    color : green;
}

/*    FINALISATION COMMANDE    */

.imgheader, .tdtotalCde {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.imgheader h2 {
    padding-top: 28px;
    color : #9356DC;
}

table {
    height: 80%;
    padding-top: 5%;
}
.main {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 20px;
    margin: 20px;
}

.checkedcommande {
    margin: 20px;
    font-size: 10%;
}

.tdNcommande1 ,.tdNcommande2 ,.tdtotalCde2{
    font-weight: bold;
    color : #9356DC;
    padding-right: 20px;
}
